<div class="topics__artticle">
  <h4>
    <%= link_to topic.title_with_responses_count, topic_path( topic ) %>
  </h4>

  <%= render 'categorizations/show', topic: topic, categories: categories %>

  <h5>
    <%= topic.updated_info %>
  </h5>
</div>
