<div class="col-md-10 col-md-offset-1">
  <h3>
    <%= @topic.title %>
  </h3>

  <div id="tags">
    <%= render 'categories/tag', categories: @categories %>
  </div>

  <div class="responses__index">
    <% @responses.each.with_index(1) do |response, idx| %>
    <%= render 'responses/partial', response: response, idx: idx %>
    <% end %>
  </div>

  <div class="responses__show">
    <%= render 'responses/form', response: @response %>
  </div>
</div>
