<li class="categories__index--li" style="margin-right: 20px;">
  <%= content_tag :span, class: "categories__index--tag" do %>
  <%= categorization.category.name %>
  <%= link_to_unless idx.zero?, "", topic_categorization_path( categorization ), method: :delete, class: "fas fa-times categorizations__destroy", onclick: "removeLi(this);" %>
  <% end %>
</li>
