<h5>
  レスを投稿する
</h5>

<%= form_with( model: Response, url: topic_response_path( topic_id ) ) do |f| %>
<div class="form-group">
  <%= f.text_field :name, class: "form-control", placeholder: '名前（省略可）' %>
</div>

<div class="form-group">
  <%= f.text_area :body, class: "form-control", placeholder: 'コメント内容' %>
</div>

<div class="form-group" style="text-align: right;">
  <%= f.submit '書き込む', class: "btn btn-carbon" %>
</div>
<% end %>
