// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.categories {
  &__index {
    &--bord {
      height: 80vh;
      width: 100%;
      padding: 30px;
      font-size: 18px;
      background-image: image-url("bord.png");
      background-size: 100% 100%;
      overflow: auto;
    }
    &--form {
      text-align: right;
      margin: 30px 0;
    }
    &--subheadings {
      padding: 1em;
      max-height: 200px;
      overflow: auto;
      background-color: rgba(0,0,0,.05);
      border-radius: 10px;
    }
    &--ul {
      padding: 1em;
      background-color: #fff;
    }
    &--li {
      list-style: none;
      display: inline;
    }
    &--tag {
      position: relative;
      display: inline-block;
      padding: 5px 1em;
      margin: .2em 1em;
      background-color: #e8e8e8;
      border-radius: 0 3px 3px 0;
      font-size: 9px;
      color: #000;
      text-decoration: none;
      &::before {
        width: 0;
        height: 0;
        border: 12px solid transparent;
        border-right-color: #e8e8e8;
        position: absolute;
        top: 0;
        left: -24px;
        content: '';
      }
      &::after {
        display: block;
        width: 6px;
        height: 6px;
        transform: translate(-50%,-50%);
        background-color: #fff;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        content: '';
        z-index: 2;
      }
    }
  }
  &__show {
    &--separator {
      text-align: center;
      font-weight: bold;
    }
  }
}
