// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homes {
  &__categories {
    &--p {
      margin: 2em;
      text-align: center;
    }
  }
  &__img {
    height: 50vh;
    padding: 5vh 0;
    margin-left: 50%;
    transform: translate(-50%,0);
  }
}
