.topics {
  &__artticle {
    padding: 5px;
    &--categories {
      a {
        color: green;
        &:hover {
          color: green;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
}
