<% provide(:title, "カテゴリ一覧") %>
<div class="col-md-10 col-md-offset-1">
  <p class="categories__index--bord">
    <% @categories.each_with_index do |category, i| %>
    <%= " / " unless i.zero?%>
    <%= link_to category.name_with_categorizations_count, category_path( category ) %>
    <% end %>
  </p>

  <%= render 'categories/form', create_path: categories_path %>
</div>
