<% provide(:title, "カテゴリ一覧") %>
<div class="col-md-10 col-md-offset-1">
  <p class="categories__index--bord">
    <% @categories.each_with_index do |category, i| %>
    <%= " / " unless i.zero?%>
    <%= link_to category.name_with_categorizations_count, category_path( category ) %>
    <% end %>
  </p>

  <% if user_signed_in? %>
  <p style="text-align: right;">
    <%= link_to '整理',  categories_path, method: :delete, class: "btn btn-danger", data: { confirm: '未使用のカテゴリを削除しますか？' } %>
  </p>
  <% end %>

  <%= render 'categories/form', create_path: categories_path %>
</div>
